.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  text-align: center;
  font-size: 20px;
  border-collapse: collapse;
  margin: 0 auto;
}
tr {
  margin: 5px;
  width: 350px;
  padding: 5px;
}

td {
  border-bottom: 1px solid lightgray;
  padding: 10px 10px;
}

table tr:nth-child(odd) td {
  background-color: aqua;
}
tr>td:nth-of-type(1) {
  font-weight: bold;
}

td:nth-of-type(4),
td:nth-of-type(5),
td:nth-of-type(6) {
  cursor: pointer;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
