.App {
  text-align: center;
}
*{
  /* border: 1px solid black; */
}
body{
  background-color: #2B2D42;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: #B3F2DD;
}
a:visited{
  color:#B3F2DD;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
.head{
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #2B2D42 , #B3F2DD);
}
.deleteButton:nth-child(odd){
  background-color: #B3F2DD;
  border: solid 1px black;
  padding: 10px;
  margin: 0;
  color: black;
  transition: 1s;
  cursor: pointer;
}
.deleteButton:hover{
  background-color: darkred;
  color: white;
  transition: 0.3s;
  /* cursor: pointer; */
}
.jobForm{
  /* float: right; */
  /* display: flex; */
  /* flex-direction: row; */
  width: 45%;
  padding: 10px;
  margin: 0;
}
.jobInfoDiv{
  width: 50%;
}
.apiDiv{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 60%;
}
.createContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  /* float: left; */
  /* text-align: center; */
}
.jobDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 55%;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
}
input[type=submit] {
  width: 50%;
  background-color: #B3F2DD;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}
input[type=submit]:hover{
  background-color: darkgreen;
  color: white;
  transition: .3s;
}
th {
  text-align: center;
  font-size: 20px;
  border-collapse: collapse;
  margin: 0 auto;
}
tr {
  margin: 5px;
  width: 350px;
  padding: 5px;
}
hr{
    
}
td {
  border-bottom: 1px solid lightgray;
  padding: 10px 10px;
}

table tr:nth-child(odd) td {
  background-color: #8D99AE;
  margin: 10px;
}
tr>td:nth-of-type(1) {
  font-weight: bold;
}

td:nth-of-type(4),
td:nth-of-type(5),
td:nth-of-type(6) {
  cursor: pointer;
}

.offer {
  background-color: rgb(18, 118, 66);
  transition: .3s;
  font-weight: bold;
  
  
}

